USE [master]
GO
/****** Object:  Database [HSK_SV_LOP]    Script Date: 5/3/2022 5:43:27 PM ******/
CREATE DATABASE [HSK_SV_LOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HSK_SV_LOP', FILENAME = N'D:\SQL_DATA\SQL_SERVER\DataHSK\HSK_SV_LOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HSK_SV_LOP_log', FILENAME = N'D:\SQL_DATA\SQL_SERVER\DataHSK\HSK_SV_LOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HSK_SV_LOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HSK_SV_LOP]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 5/3/2022 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](20) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/3/2022 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](10) NOT NULL,
	[Ho] [nvarchar](30) NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[Phai] [nvarchar](10) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaLop] [varchar](20) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop]) VALUES (N'DHTH16A', N'Đại học tin học 16A')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop]) VALUES (N'DHTH16B', N'Đại học tin học 16B')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop]) VALUES (N'DHTH16C', N'Đại học tin học 16C')
GO
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [Phai], [Email], [DiaChi], [MaLop]) VALUES (N'SV01      ', N'Nguyễn Minh', N'Quân', N'Nam', N'20098151@student.iuh.edu.vn', N'Gò Vấp', N'DHTH16A')
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [Phai], [Email], [DiaChi], [MaLop]) VALUES (N'SV02      ', N'Nguyễn Thị Thu', N'Ngân', N'Nữ', NULL, N'Gò Vấp', N'DHTH16C')
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [Phai], [Email], [DiaChi], [MaLop]) VALUES (N'SV03      ', N'Nguyễn', N'Ngân', N'Nữ', N'20102521.ngan@student.iuh.edu.vn', N'Bến Tre', N'DHTH16A')
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHoc] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopHoc]
GO
USE [master]
GO
