USE [master]
GO
/****** Object:  Database [HSK_SV_LOP1]    Script Date: 5/3/2022 5:42:19 PM ******/
CREATE DATABASE [HSK_SV_LOP1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HSK_SV_LOP1', FILENAME = N'D:\SQL_DATA\SQL_SERVER\DataHSK\HSK_SV_LOP1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HSK_SV_LOP1_log', FILENAME = N'D:\SQL_DATA\SQL_SERVER\DataHSK\HSK_SV_LOP1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HSK_SV_LOP1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HSK_SV_LOP1]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 5/3/2022 5:42:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [char](7) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[GiaoVienCN] [nvarchar](20) NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/3/2022 5:42:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](4) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Email] [nchar](40) NULL,
	[MaLop] [char](7) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [GiaoVienCN]) VALUES (N'DHTH10A', N'Đại học tin học 10A', N'Cô Khánh')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [GiaoVienCN]) VALUES (N'DHTH10B', N'Đại học tin học 10B', N'Thầy Phúc')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [GiaoVienCN]) VALUES (N'DHTH10D', N'Đại học tin học 10D', N'Thầy Long')
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [DiaChi], [Email], [MaLop]) VALUES (N'1111', N'Trần Thị Lan', N'Gò Vấp', N'lan@student.com                         ', N'DHTH10B')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [DiaChi], [Email], [MaLop]) VALUES (N'1112', N'Trần Thị Lan', N'Gò Vấp', N'lan@student.com                         ', N'DHTH10B')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [DiaChi], [Email], [MaLop]) VALUES (N'4444', N'Lê Thanh Tú', N'Tân Phú', N'tu@gmail.com                            ', N'DHTH10A')
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHoc] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopHoc]
GO
USE [master]
GO
